@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgb(200, 200, 200);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  width: 1200px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 1px #00000021;
}

main > div > div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #FFFFFF;
}

main > div > div > img {
  margin-top: 80px;
  width: 30px;
  border-radius: 50%;
  background-color: darkorchid;
  filter: drop-shadow(0 0 3px darkorchid);
}

h1 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

h2 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(154, 154, 154);
}

form {
  margin-top: 20px;
  height: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
}

form::-webkit-scrollbar {
  width: 12px;
}

form::-webkit-scrollbar-track {
  width: 12px;
  border-radius: 5px;
  margin-block: 1px;
  box-shadow: 0 0 1px rgb(100, 100, 100);
}

form::-webkit-scrollbar-thumb {
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background: linear-gradient(#3AF6C6, #E96DF1);
}

form::-webkit-scrollbar-thumb:hover {
  background: rgba(213, 75, 255, 0.5);
}

form > input {
  width: 300px;
  height: 40px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  padding-left: 10px;
  flex-shrink: 0;
  font-size: 14px;
}

form div:nth-of-type(-n + 3) {
  display: flex;
  column-gap: 5px;
}

form div:nth-of-type(-n + 3) input {
  width: 223px;
  height: 40px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  padding-left: 10px;
  flex-shrink: 0;
  font-size: 14px;
}

form input::placeholder {
  font-size: 14px;
}

form div button {
  width: 72px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: darkorchid;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
}

form div:nth-of-type(4) {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

form div:nth-of-type(4) select {
  width: 112px;
  height: 40px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  font-size: 14px;
}

form div:nth-of-type(4) input {
  width: 89px;
  height: 40px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorchid;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
}

aside {
  position: relative;
  width: 50%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url('./../images/pngtree-gradient-round-stripes-floating-geometric-decorative-pattern-png-image_4044692.jpg');
  background-position: right;
  background-size: auto 100%;
}

aside > div {
  position: absolute;
  top: 230px;
  left: 30px;
  width: 700px;
  height: 120px;
  border-radius: 8px;
  transform: rotate(-60deg);
  overflow: hidden;
  box-shadow: 0 0 4px #292929;
  filter: blur(3px);
}

aside div div {
  width: 8px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(rgb(21, 39, 71), rgb(48, 65, 95));
}